[Unit]
Description=Apache Kafka distributed message queue service
After=network.target zookeeper.service
ConditionPathExists=

[Service]
#Environment=JMX_PORT=9989
#ExecStartPre=/usr/sbin/sshd -t
ExecStart={{KAFKA_HOME}}/bin/kafka-server-start.sh {{KAFKA_HOME}}/config/server.properties
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
User=kafka
Group=kafka

[Install]
WantedBy=multi-user.target
Alias=kafka.service
