# the location to store the in-memory database snapshots and, unless specified otherwise, the transaction log of updates to the database.
dataDir=/data/zookeeper
# the port at which the clients will connect
clientPort=2181
# disable the per-ip limit on the number of connections since this is a non-production config
maxClientCnxns=0
# Disable the adminserver by default to avoid port conflicts.
# Set the port to something non-conflicting if choosing to enable this
admin.enableServer=false
# admin.serverPort=8080

# RPI4 SD cards can stall. We follow http://support-it.huawei.com/docs/en-us/fusioninsight-all/maintenance-guide/en-us_topic_0074643856.html
# to adjust both tickTime and syncLimit to keep brokers from failing due to stalling media. Really should use better media instead....

# the basic time unit in milliseconds used by ZooKeeper. It is used to do heartbeats and the minimum session timeout will be twice the tickTime.
tickTime=4000
# The number of ticks that the initial synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=10
# zoo servers
# these hostnames such as `zookeeper-1` come from the /etc/hosts file
server.{{ id_list['192.168.1.82'] }}=zookeeper1:2888:3888
server.{{ id_list['192.168.1.83'] }}=zookeeper2:2888:3888
server.{{ id_list['192.168.1.84'] }}=zookeeper3:2888:3888
